*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*body{
	padding: 0;
    position: relative;
    margin-left: 100%;
    margin-right: 100;
}*/

/*start nav bar*/
#title{
	
    margin-right: 1rem;
    font-family: 'McLaren', cursive;
	font-size: 25px;
	text-align: center;
	color: #4A777A;
	position: relative;
	text-shadow: 2px 2px 1px solid grey;
	opacity: 1;


}

#navbarn{
	padding-top: 15px;
	padding-bottom: 15px;
	height: 40px;
	background-color: #6A6C6E;
	position: relative;
	text-align: center;
    border: 2px solid #E0FFFF;
	border-radius: 10px;
	opacity: 0.75;
}
/*end navbar*/


/*start welcome*/
.down{
	position: absolute;
	bottom: 20%;
	left: 50%;
	color: #6d6d70;
	transform: translate(-50%,-50%);
	background-color: #f9e4b7;	
	padding: 10px 50px;
	border-radius: 10px;
	font-size: 15px;
	font-family: 'Big Shoulders Text', cursive;
	size: 20px;
	text-decoration: none;
	box-shadow: 0 0 0.60em #1da9cc;
	
}

.down a{
  text-decoration: none;
  color: #333;
}

.down:active{
  text-decoration: none;
  background-color: #cfb997;
  color: white;
}

.down:hover{
  text-decoration: none;
  background-color: #cfb997;
  color: white;
}

#mainmenu{
	font-family: 'McLaren', cursive;
	font-size: 15px;
}

#descrip{
	font-size: 15px;
	font-family: 'Big Shoulders Text', cursive;
}

/*end home*/


/*containers*/
#home, #gallery, #contact_us{
	padding: 0;
    margin: 0 auto;
	
}



#home{
  height: 100vh;
  border-style: solid;
  border-color: black;
  position: relative;
  background-image: url("../images/pinoy.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  opacity: 0.5;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
   padding-left: 10px;
   padding-right: 10px;


}


.box{
	padding: 30px;
	width: 80%;
	font-family: 'McLaren', cursive;
	font-size: 20px;
	background-color: rgba(255,255,255,0.25);
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%); /*x and y values*/

}

h1{
	letter-spacing: 2px;
	margin-bottom: 10px;
	color: #4A777A;
	background-color: rgba(0,0,0,0);
	padding: 10px;
	border-style: 
	border-radius: 10px;
    text-align: center;
    text-shadow: 2px 2px solid #96CDCD;

}



.box > p{
	font-size: 20px;
	font-family: 'Big Shoulders Text', cursive;
	text-align: center;
	opacity: 1;
}




/*#con3{
	background-image: url("../images/manila.jpg");
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    margin-right: 50px;
    position: relative;
    padding: 20px;
	height: 100vh;
}*/




/*start about-us*/
#second{
	font-family: 'Indie Flower', cursive;
	font-size: 25px;
    margin left: 10px;
    position: absolute;
	left: 10%;
	top: 10%;
	transform: translate(-30%,-30%);
	padding: 20px;
	/*width: 40%;*/
	opacity: 1;

}
#about{
  height: 175vh;
  border-style: solid;
  border-color: black;
  position: relative;
  background-image: url("../images/manila.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
 
  
}

#bgcolor{
	background-color: #F7E7CE;
	font-size: 20px;
	font-family: 'Big Shoulders Text', cursive;
	color: black;
}

#maincaption{
	font-family: 'McLaren', cursive;
	font-size: 25px;
	color: black;

}



/*gallery*/
#gal1, #kakanin
{
  height: 400vh;
  /*width: 200%;*/
  border-style: solid;
  border-color: black;
  position: relative;
  background-image: url("../images/manila.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

#gallery,  #fried{

  height: 200vh;
  /*width: 200%;*/
  border-style: solid;
  border-color: black;
  position: relative;
  background-image: url("../images/manila.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  opacity: 0.5;
}


#contact_us{
 border-radius: 20px;
 border-style: dashed;
 border-color: black;
}
/*1st carousel*/
/*#grill,#fried,#kakanin {

    padding: 30px;
	width: 60%;*/
	
	/*background-color: rgba(255,255,255,0.25);*/
/*	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%); /*x and y values*/






/*contact-us*/
#contact_us{
  height:175vh;
  border-style: solid;
  border-color: black;
  position: relative;
  background-image: url("../images/pinoy.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  
}

  
 



